<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    {% if erro %}
        <p style="color:red">{{ erro }}</p>
    {% endif %}

    <form method="post">
        <label>
            Usuário:
            <input type="text" name="usuario">
        </label>

        <label>
            Senha:
            <input type="password" name="senha">
        </label>

        <button type="submit">Entrar</button>
    </form>
</body>
</html>